*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100%;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    line-height: 1.5;
    background-color: #f6f8fa;
    background-color: #ffffff;
    color: #57606a;

}

a{
    color: #0969da;
}
h2{
    color: #24292f;
}

header{
    list-style: none;
    background-color: #24292f;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}



.logo{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.logo:hover{
    color: rgba(240, 248, 255, 0.521);
}

.logo img{
    height: 30px;
    margin-right: 10px;
}

body{
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    line-height: 1.5;
    background-color: #f6f8fa;
    color: #57606a;
}

.CU-Administrador{
    width: 95%;
    background-color: #ffffff;
    height: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 20px;
    border-style: solid;
    border-radius: 6px;
    border-color: #d0d7de;
    margin: auto;
}
.bienvenida{
    font-size: 3rem;
    text-align: center;
    padding: 2vw 0;
}

.CU-Administrador h1{
    margin: 0 10%;
    padding-bottom: 2vw;
    width: 80%;
    text-align: center;
    color: #ffffff;
}

.CU-Administrador h1 a{
    color: #ffffff;
    text-decoration: none;
}

.Caja_CU-Administrador{
    background-color:#24292f;
    width: 40vw;
    margin-top: 20px;
    text-align: center;
    word-wrap: break-word;
    padding: 2vw;
    border-style: solid;
    border-radius: 6px;
    border-color: #d0d7de;
}

.Imagen_Caja_Cu-Administrador{
    background-color: #f6f8fa ;
    width: 80%;
    border-style: solid;
    border-radius: 6px;
    border-color: #d0d7de;
    margin: 0 10%;
    height: 20vw;
}


.Imagen_Caja_Cu-Administrador img{
width: 100%;
height: 100%;
}

/* Inicio CRUDUsuariosAdmin*/

.CRUD-MAIN{
    display: flex;
    height: 100%;
}

.CRUD-sidebar{
    width: 25%;
    height: 100vh;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    border-style: solid;
    border-radius: 3px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
}


.CRUD-sidebar-contenedor{
    border-style: solid;
    border-radius: 3px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 30px 0px;
    position: relative;
    align-items: center;
    justify-content: center;
    
}

.CRUD-sidebar-contenedor a{
    text-decoration: none;
    font-size: 20px;
    color: #24292f; 
    vertical-align: middle;
}

.CRUD-sidebar-contenedor img{
    height: 60px;
    vertical-align: middle;
}


.CRUD-sidebar-contenedor a:hover{
    color: #ffffff;
}

.CRUD-dashboard{
    width: 75%;
    left: 25%;
    height: 100vh;
    /* background-color: rgb(146, 220, 220); */
    background-color: transparent;
    position: absolute;
    justify-content: center;

}

.CRUD-dashboard-main{
    /* background-color: #6f93bc; */
    background-color: #ffffff;
    width: 95%;
    margin: 20px auto;
    padding-bottom: 40px;
    border-radius: 6px;
    border-color: #d0d7de;
    border: solid 1px;
}

.CRUD-dashboard h1{
    margin-left: 5%;
    padding-top:  20px;
    padding-bottom: 20px;
    color: #24292f;
}

.CRUD-dashboard-button{
    margin-left: 2.5%;
    margin-bottom: 10px;
}
.CRUD-dashboard-button button{
    padding: 10px;
    background-color: #2da44e;
    border-radius: 6px;
    border:  0px;
    color: #ffffff;
}


.CRUD-dashboard td, th{
    border: solid 0.5px black;
    padding: 10px 1%;
    
}

.CRUD-dashboard tr:nth-child(odd){
    background-color: #d0d7de;
}
.CRUD-dashboard tr:nth-child(even){
    background-color: #f6f8fa;
}


.CRUD-dashboard td button{
    width: 100%;
}
.editar, .eliminar{
    border: 0px;
    padding: 6px 0px;
    color: #ffffff;

}
.editar{
    background-color: #3580d6;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.eliminar{
    background-color: #fd7373;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    
}


.CRUD-dashboard table{
    border-collapse: collapse ;
    margin: auto;
    border-radius: 6px;
    width: 95%;
}

.dashboard-table-button{
    display: flex;
    justify-content: center;
}
/* Fin CRUDUsuariosAdmin*/



.footer-menu{
    font-size: 12px;
    /* background-color: #f6f8fa; */
    background-color: transparent;
    margin-top: 32px ;
    margin-bottom: 32px;
    line-height: 1.8;
    margin: 32px 24px;
}

.footer-menu a{
    text-decoration: none;
    color: #57606a;
    display: block;
}

.footer-menu a:hover{
    text-decoration: underline;
    color: #0969da;
}